header {
  background: #3b3b3b; }
  header h3 {
    color: whitesmoke;
    margin: 0px;
    padding: 10px; }

.columns:last-child {
  float: left !important; }

.note {
  background: #5a9aa8;
  margin: 10px;
  padding: 10px;
  word-break: break-all; }
  .note h4 {
    margin-top: -15px;
    margin-right: 10px; }
  .note p {
    margin-top: -5px; }

.newNote {
  background: white;
  border: 1px dashed grey; }
  .newNote h4 {
    margin-top: 0px;
    margin-right: 0px; }
  .newNote p {
    margin-top: 0px; }

.plus {
  font-size: xx-large;
  color: grey;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.addForm {
  margin-top: -40px; }

.add {
  display: block;
  text-decoration: none;
  color: grey;
  border: 2px dashed grey;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin: 0 auto;
  width: 50px;
  height: 50px; }

.add:hover {
  color: green; }

#addNewNote {
  width: 100%;
  font-size: 80%; }

a.delNote {
  position: relative !important;
  opacity: 0.2 !important;
  top: -8.5px !important;
  left: 87% !important;
  color: white !important; }

a.delNote:hover {
  color: red !important;
  opacity: 1 !important; }

a.editNote {
  position: relative !important;
  opacity: 0.2 !important;
  top: -8.5px !important;
  left: 83.5% !important;
  color: white !important; }

a.editNote:hover {
  color: white !important;
  opacity: 1 !important; }

a.editNoteOk:hover {
  color: greenyellow !important;
  opacity: 1 !important; }

#editTitle, #editText {
  background: none;
  border-color: rgba(255, 255, 255, 0.5);
  color: white; }

#editTitle::-webkit-input-placeholder, #editText::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

#clear {
  background: grey;
  position: absolute;
  margin-bottom: 0;
  bottom: 10px;
  right: 10px; }
